@font-face {
  font-family: 'BelgianoSerif2'; /* Puedes elegir el nombre que desees */
  src: url('/font/BelgianoSerif2.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu fuente */
}
.navegacion {
  background-color: rgba(210, 255, 127, 0.986); /* Color de fondo */
  margin-bottom: 4rem; /* Margen inferior */
  color: #000000;
  padding: 5% 3%; /* Relleno, 10 arriba y abajo, 5 izquierda y derecha */
  display: flex; /* Mostrar como Flexbox */
  flex-wrap: wrap; /* Ajustar a la pa ntalla */
  justify-content: center; /* Centrar los elementos */
  gap: 2rem; /* Espacio entre elementos */
  border-bottom: 1px solid #ffffff;
}

.navegacion a:hover {
  color: #000;
}

.miCard .chakra-card__body {
  background-color: #ff0000; /* Cambia el color de fondo según tu preferencia */
}