@font-face {
  font-family: 'BelgianoSerif2'; /* Puedes elegir el nombre que desees */
  src: url('/font/BelgianoSerif2.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu fuente */
}
.navegacion {
  background-color: rgba(210, 255, 127, 0.986); /* Color de fondo */
  color: #000000;
  padding: 0% 0%; /* Relleno, 10 arriba y abajo, 5 izquierda y derecha */
  display: flex; /* Mostrar como Flexbox */
  flex-wrap: wrap; /* Ajustar a la pa ntalla */
  justify-content: center; /* Centrar los elementos */
  gap: 0rem; /* Espacio entre elementos */

}
.boton {
  background-color: #8FBC8F;
  color: #000000;
}
.navegacion a:hover {
  color: #000;
  
}

.miCard .chakra-card__body {
  background-color: #ff0000; /* Cambia el color de fondo según tu preferencia */
}
.drawer-text {
  font-size: 1.5em; /* Puedes ajustar el tamaño según tus preferencias */
}
.esquina-inferior-derecha {
  position: absolute; /* Establecer posición absoluta con respecto al contenedor */
  bottom: 0; /* Distancia desde la parte inferior del contenedor */
  right: 0;
  padding: 10px;
}

.card-container {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-container.flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
